.row
  %h1
    Заявка на участие в игре
    = @game.name


  =form_for  @request, url: request_create_path do |f|
    - (1..4).each do |i|
      - if @request.game.send("question#{i}")
        - unless @request.game.send("question#{i}").empty?
          =f.label @request.game.send("question#{i}")
          =f.text_field "answer#{i}".to_sym

    =f.hidden_field :game_id
    =f.submit 'Отправить заявку', class:'button'
