= form_for(@player, url: admin_player_path) do |f|
  = f.label 'Статус'
  = f.select :dead, [['Жив',false], ['Мертв',true]]

  = f.label :target_id, 'Цель'
  = f.select :target_id, (@possible_targets.map {|t| [t.full_name, t.id]}), :include_blank => true, :default => nil

  = f.label :banned, 'Забанен'
  = f.check_box :banned

  = f.label :killing_word, 'Слово для убийства'
  = f.text_field :killing_word

  %p
    = f.submit "Обновить"
