.row
	%h1 Регистрация гейм-мастера

	=form_for @admin do |f|
		=f.label :name, 'Full name'
		=f.text_field :name, autofocus: true

		=f.label :email, 'E-mail'
		=f.text_field :email, type: :email

		=f.label :password, 'Password'
		=f.text_field :password, type: :password

		=f.label :password_confirmation, 'Password confirmation'
		=f.text_field :password_confirmation, type: :password


		=f.submit 'Register', class:'button'
	-#
	-#%ul
	-#-@players.each do |player|
	-#	%li
	-#		= player.full_name
	-#		= player.login
	-#		= player.temp_password
