.row
	%h1 Редактирование игры

	=form_for  @game, url: admin_game_path do |f|
		=f.label :name, 'Название игры'
		=f.text_field :name, autofocus: true

		=f.label :password, 'Пароль для участия в игре'
		=f.text_field :password

		=f.label :password_confirmation, 'Подтверждение пароля'
		=f.text_field :password_confirmation

		=f.label :starts_at, 'Старт игры'
		=f.datetime_local_field :starts_at

		=f.label :ends_at, 'Финиш игры'
		=f.datetime_local_field :ends_at

		=f.label :closed, 'Закрыта'
		=f.check_box :closed

		=f.label :logo, 'Логотип для игры'
		=f.file_field :logo

		%p Вопросы для заявок на участие:

		- (1..4).each do |i|
			=f.label "question#{i}".to_sym, "Вопрос ##{i}"
			=f.text_field "question#{i}".to_sym


		=f.submit 'Обновить параметры игры', class:'button'
