.row
	%h1 Список администрируемых вами игр
	-#=link_to 'Список для печати', print_players_path

- if @games.empty?
	.row#body
		%p
			Вы не являетесь админом ни одной из игр.
			%br
			Вас могут назначить админом уже существующей игры
			или вы можете
			=link_to 'Создать', new_admin_game_path
			новую игру
- else
	.row#body
		%table
			%thead
				%tr
					%th Игра
					%th Начало
					%th Окончание
					%th Статус
					%th
			%tbody
				- @games.each do |game|
					%tr
						%th= link_to game.name, admin_game_path(game)
						%th= l(game.starts_at, :format => :short)
						%th= l(game.ends_at, :format => :short)
						%th= game.status
						%th= link_to 'Изменить', edit_admin_game_path(game)
		=link_to 'Создать новую игру', new_admin_game_path
