.row
	%h1
		Игра
		=@game.name

	.row
		-if @game.logo.present?
			%p=image_tag @game.logo.url
		%p=link_to 'Редактировать', edit_admin_game_path(@game)


		%p=link_to 'Список для печати', "/print_players/#{@game.id}.pdf"

	.row
		%p
			Старт игры:
			= l @game.starts_at, format: :short
		%p
			Конец игры:
			= l @game.ends_at, format: :short
		%p
			Статус:
			= @game.status
	.row
		- unless @game.started? || @game.closed
			%h4 Список заявок
			%table
				%thead
					%td Аватар
					%td Имя
					%td VK
					%td Обработать
				- @requests.each do |request|
					%td= image_tag request.player.avatar.url(:thumb)
					%td= request.player.full_name
					%td= link_to("VK",request.player.vklink) if request.player.vklink
					%td= link_to 'Обработать', edit_admin_request_path(request)


	.row
		%h4 Список участников
		%table
			%thead
				%tr
					%th Аватар
					%th Имя
					%th Статус
					%th Цель
			%tbody
				- @players.each do |player|
					%tr
						%td= image_tag player.avatar.url(:thumb)
						%td
							= link_to player.full_name, edit_admin_player_path(player)
							- if player.banned
								(БАН)
						%td
							= player.status
							(
							- if player.dead
								= link_to "Оживить", alive_admin_player_path(player)
							- else
								= link_to "Убить", kill_admin_player_path(player)
							)

						%td= player.target



=javascript_include_tag('https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
:javascript
	var app = angular.module('miptkiller',[])

	app.controller('PlayersIndexCtrl',function($scope){
		$scope.requests = #{@players.to_json(only:[:id,:dead],methods:[:full_name,:avatar_thumb,:killers_cards_count],
				include:{target: {only: [:id],methods:[:full_name]}})}
	})
