%header
	.contain-to-grid
		%nav.top-bar
			.left_side
				#logo
					= link_to 'Killer Game', root_path

			.right_side
				- if admin_signed_in?
					=link_to 'Games', admin_games_path
					=link_to 'Profile settings', edit_admin_info_path
					=link_to 'Logout', destroy_admin_session_path, method: :delete
				- elsif player_signed_in?
					=link_to 'Profile settings', edit_info_path
					=link_to 'Logout', destroy_player_session_path, method: :delete
				-else
					=link_to 'Log in as admin', new_admin_session_path
					=link_to 'Log in as player', new_player_session_path
					=link_to 'Register as admin', new_admin_path
					=link_to 'Register as player', new_player_path
