.row
  %h1 Список доступных игр

  %table
    %thead
      %tr
        %th Игра
        %th Начало
        %th Окончание
        %th Статус
        %th
    %tbody
      - @games.each do |game|
        %tr
          %th= game.name
          %th= l(game.starts_at, :format => :short)
          %th= l(game.ends_at, :format => :short)
          %th= game.status
          %th
            - if @requested_games && @requested_games.include?(game)
              %strong
                Отправлена заявка
            - else
              = link_to 'Участвовать', url_for(controller: 'request', action: 'new', game_id: game.id)
