.row
	%table
		-@players.each do |player|
			%tr
				%td="#{player.full_name}"
				%td="email:#{player.email}"
				- if player.passwordchanged?
					%td '*changed*'
				- else
					%td="pass:#{player.temp_password}"
				%td="killing_word:#{player.killing_word}"
				%td="target:#{player.target.present? ? player.target.full_name : '———'}"
