=render 'shared/flash'
#body
	.row
		%h2 Редактирование данных вашего профиля
		=form_for @player, multipart: true, html: {method: "patch"} do |f|
			=f.label 'Email'
			=f.text_field :email, type: :email

			=f.label 'Имя'
			=f.text_field :name

			=f.label 'Фамилия'
			=f.text_field :surname

			=f.label 'Ссылка на VK'
			=f.text_field :vklink

			=f.label 'Пароль'
			=f.password_field :password

			=f.label 'Подтверждение пароля'
			=f.password_field :password_confirmation

			- if @player.current_game.present? and @player.current_game.avatar_changeable
				=f.label :avatar, 'Изменить аватар'
				=image_tag @player.avatar.url(:thumb)
				=f.file_field :avatar

			=f.hidden_field :id


			=f.submit 'Ок'
