=render 'shared/flash'
#body
	.row
		.large-12
			%h2 Редактирование входных данных
			=form_for(@player, {multipart: true}) do |f|
				=render 'shared/error_messages', object: f.object

				.row
					.large-8.columns
						=f.label 'Имя'
						=f.text_field :name

						=f.label 'Фамилия'
						=f.text_field :surname

						=f.label 'Логин'
						=f.text_field :login

						=f.label 'Пароль'
						=f.password_field :password

						=f.label 'Подтверждение пароля'
						=f.password_field :password_confirmation

						-if admin_signed_in?
							=f.label "Аватар"
							=f.file_field :avatar
					.large-4.columns
						= image_tag @player.avatar.url(:medium)

				=f.hidden_field :id


				=f.submit 'Ок', class: 'button'
