.row
	%h1 Список игроков
	=link_to 'Список для печати', print_players_path

.row
	%p
		Живы
		= Player.where(dead:nil).count
		, Мертвы
		= Player.where(dead:'true').count


.row#body(ng-controller='PlayersIndexCtrl')
	-#=foundation_paginate @players
	-#-iter = @players.offset
	%input(type="text" ng-model="query" placeholder="фильтр пользователей")
	%table
		%thead
			%td ID
			%td Аватарка
			%td Имя Фамилия
			%td Жив?
			%td Цель
			%td Всего карточек
			%td Редактировать
		/
			-@players.each do |player|
				%tr
					-#-#%td= iter=iter+1
					-#%td= player.id
					-#%td= link_to player.full_name, player_path(player)
					-#-if !player.dead
					-#	%td Да
					-#	%td
					-#		- if player.target.present?
					-#			= link_to player.target.full_name, player_path(player.target)
					-#		- else
					-#			———
					-#	%td= player.killers_cards.count
					-#
					-#-else
					-#	%td Нет
					-#	%td
					-#	%td
					-#%td= link_to 'Edit player', edit_player_path(player), class: 'tiny button'
					-#%td= link_to 'Delete player',  player_path(player), class: 'tiny button',method: :delete, confirm: 'Are you sure you wanna delete him?'
		%tr(ng-repeat='player in players | orderBy:"id" | filter: query')
			-#%td= iter=iter+1
			%td {{player.id}}
			%td
				%img(ng-src='{{player.avatar_thumb}}')
			%td
				%a(ng-href='/players/{{player.id}}') {{player.full_name}}

			%td(ng-show='player.dead') Убит
			%td(ng-hide='player.dead') Жив
			%td(ng-show='player.target')
				%a(ng-href='/players/{{player.target.id}}') {{player.target.full_name}}
			%td(ng-hide='player.target') —
			%td {{player.killers_cards_count}}
			%td
				%a(ng-href='/players/{{player.id}}/edit' class='tiny button') Edit player
			-#%td
			-#	%a{nghref:'/players/{{player.id}}/edit',class:'tiny button', dataMethod:'delete'} Delete player

=javascript_include_tag('https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
:javascript
	var app = angular.module('miptkiller',[])

	app.controller('PlayersIndexCtrl',function($scope){
		$scope.players = #{@players.to_json(only:[:id,:dead],methods:[:full_name,:avatar_thumb,:killers_cards_count],
				include:{target: {only: [:id],methods:[:full_name]}})}
	})