.row
	%h1 Регистрация нового игрока

	=form_for @player, multipart: true do |f|
		=f.label :name, 'Имя'
		=f.text_field :name, autofocus: true

		=f.label :surname, 'Фамилия'
		=f.text_field :surname

		=f.label :email, 'E-mail'
		=f.text_field :email, type: :email

		=f.label :email, 'Ссылка на профиль VK'
		=f.text_field :vklink

		=f.label :password, 'Пароль'
		=f.text_field :password, type: :password

		=f.label :password_confirmation, 'Подтверждение пароля'
		=f.text_field :password_confirmation, type: :password

		- if @player.current_game.present? and @player.current_game.avatar_changeable
			=f.label :avatar, 'Изменить аватар'
			=f.file_field :avatar

		=f.submit 'Зарегистрировать', class:'button'
