=render 'shared/flash'
#body
	.row
		.large-12.columns
			.row
				.large-8.columns
					%h2
						=@player.full_name
					- if @player.current_game.present?
						%h4
							Текущая игра -
							=@player.current_game.name
					- elsif @player.upcoming_game.present?
						%h4
							Игра
							=@player.upcoming_game.name
							начнется
							= l(@player.upcoming_game.starts_at, format: :short)
					- else
						%h4
							У вас нет предстоящих игр.
							= link_to 'Вступайте в игру!', games_path
			
				.large-4.columns
					- if @player.avatar.present?
						= image_tag @player.avatar.url(:medium)
			- if @player.current_game.present?
				.panel
					- if @player.dead
						.alert-box.alert
							Пользователь мертв
					- else
						- if @target.present?
							.row
								.large-2.columns
									=link_to @target.avatar.url(:original), class:'object_block',
									data: {colorbox: true,
									colorbox_height: '95%', colorbox_width: '95%'} do
										=image_tag @target.avatar.url(:thumb)
								.large-10.columns
									%h4
										Цель -
										= @target.full_name

										=form_tag kill_player_path(@target) do
											.small-7.columns
												=text_field_tag 'target[killing_word]', nil, class: 'killing_word', |
													placeholder: 'Killing word' |
												=hidden_field_tag 'target[id]', @target.id
												=hidden_field_tag 'method', 'web'
												=hidden_field_tag 'player[id]', @player.id
											.small-5.columns
												=submit_tag "Убить", class: 'button prefix'




			-if @player.current_game.present?
				%p.killing_word
					Пароль для убийства вас в текущей игре -
					= @player.killing_word

				-unless @player.dead
					%h2 Карточки
					%ul
					-@player.killers_cards.each do |card|
						%li= card.victim.full_name

			%h2 События
			%ul
			-@events.each do |event|
				%li
					= "#{event.source.full_name}"
					=" kills #{event.target.full_name}."
					="Now he has #{event.card_count} cards "
					-if event.new_target.present?
						="and new target - #{event.new_target.full_name}"
