= form_for(@request, url: admin_request_path) do |f|
  = f.label 'Статус'
  = f.select :status, [['Ожидает','pending'], ['Подтверждено','approved'], ['Отказано','rejected']]

  = f.submit 'Обработать'
