.row
  %h1 Обработка запроса

  %dl
    %dt Игрок:
    %dd
      = image_tag @request.player.avatar.url(:thumb)
      = @player.full_name
    %dt VK
    %dd= link_to("VK",@request.player.vklink) if @request.player.vklink
    -(1..4).each do |i|
      - if @request.game.send("question#{i}")
        - unless @request.game.send("question#{i}").empty?
          %dt= @request.game.send("question#{i}")
          %dd= @request.send("answer#{i}")



  = render 'form'
